Can't delete or create domain?

I'm getting the error on `sls create_domain`

Error --------------------------------------------------

  Error: Record set for mydomain.com already exists. mydomain.com was not created.

I get another error when I try `sls delete_domain`

Error --------------------------------------------------

  Error: Record set for mydomain.com does not exist and cannot be deleted. mydomain.com was not deleted.

**So is it created or not created??** I am so confused by these error messages.

So interestingly enough after running these commands despite it returning back errors it still seemed to added the custom domain name in the amazon api gateway? and likewise removed it?? Is it giving back errors incorrectly?

Interestingly enough when the domain has a sub domain like sub.domain.com then it works without any errors.  If you try to use a root domain it fails.

try running with --verbose flag to get the error stack, might be helpful

I ran into these issues too, would be nice if someone would fix this.

I'll try to test this later to verify my theory, but you mention specifically that using it on a second level domain such as  `example.com` fails, but a subdomain such as `api.example.com` works. 

If that's the case, from a DNS perspective this would be expected behavior since the plugin would attempt to create a CNAME record for `example.com` to the CloudFront distribution `xzy.cloudfront.net`, which _should_ theoretically fail because CNAME records are't allowed for the 'root level' of the domain since they would clash with name server and start of authority records ([RFC 1912, section 2.4](https://www.ietf.org/rfc/rfc1912.txt)).

@TheDagger @MentalBrake 
We're looking into switching to using A-Alias records instead of CNAMEs as this restriction would no longer apply. Want to pull down the [change_record_type](/amplify-education/serverless-domain-manager/tree/change_record_type) branch and let us know if it works for your `domain.com` deployment?

I got same issues too